Core "Must-have" Requirements:
    Task Creation: Users should be able to make a timer instance for a specific topic or task.
    Task Modification: Users should be able to edit, delete, mark tasks as completed and unmark tasks as completed.
    Tag (Topic) Assignment: Users should be able to assign tasks/topics certain keyword tags for organization.
    Timer Functionalities: The timer mode should have the ability to start, pause, stop, and reset the timer and stopwatch modes for tasks.
    Time Logs: The timer should have the ability to record the duration/value of the timer, and can write time logs for future access.
    Exporting Time Logs: The timer should be able to export a tasks time log to the user.

Additional "Nice-to-have" Features:
    Integrations: Users could integrate time logs into other applications like calendars or other project management software(s)
    Personalization: Users could make the website their "own" by changing themes, colors, and fonts of the page.
    "Batched" Time Logs: Users could request a time log of their total time spent on a specific tag (Topic).

Use Case:
    1. User creates a new task by entering a task name [Required], a timer type (Timer/Stopwatch) [Required], a description [Optional], and a Tag (Topic) [Optional]. A default time log for the task gets created.
    2. User starts their new timer instance and begin working on their desired task.
    3. User pauses the timer if they plan to resume the timer later. Time log gets updated.
    4. User stops the timer if they do not plan on resuming the timer. Time log gets updated.
    5. User marks the task as completed if they believe their task to be done. Time log gets updated.
    6. User realizes their task is not done and unmarks the task as complete. Time log gets updated.
    7. User exports the time log associated with their task.